/* Block: app */
.app {
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app--dark {
  background-color: #1e2939;
  color: #ffffff;
}

/* Block: header */
.header {
  padding: 1rem;
}

.header--dark, .sidebar--dark {
  background-color: #1e2939;
}